---
import { Font } from "astro:assets";
import "../global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Personal site of Vikram, a frontend engineer building clean and intrinsic experiences for the modern web"
        />
        <meta name="author" content="Vikram" />
        <link rel="canonical" href="https://vikram.wiki/" />
        <meta http-equiv="content-language" content="en" />
        <Font cssVariable="--font-figtree" />
        <title>Vikram | Design Technologist</title>
    </head>
    <body>
        <main>
            <h1>WIP</h1>
            <p>I promise I'm gonna work on this soon</p>
        </main>
        <script is:inline type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Person",
                "name": "Vikram",
                "url": "https://vikram.wiki",
                "jobTitle": "Design Technologist",
                "sameAs": [
                    "https://github.com/vikram-hegde",
                    "https://www.linkedin.com/in/vikramcodes"
                ]
            }
        </script>
    </body>
</html>

<!-- Temporary styles -->
<style>
    body {
        min-height: 100dvh;
        display: grid;
        place-content: center;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
    }
</style>
