@layer reset {
    
    *, *:after, *:before {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
    }
    
}


@layer base {
    
    body {
        font-family: var(--font-figtree), sans-serif;
    }
    
}
