@layer reset {
    
    *, *:after, *:before {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
    }
    
}

@layer base {
    
    html {
        color-scheme: light dark;
    }
    
    body {
        font-family: var(--font-figtree), sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
        font-weight: normal;
    }
    
}
