@layer reset {
    
    *, *:after, *:before {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
    }
    
}

@layer base {
    
    html {
        color-scheme: light dark;
        height: 100%;
        height: stretch;
    }
    
    body {
        font-family: var(--font-figtree), sans-serif;
        min-height: 100%;
        min-height: stretch;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-playfair-display);
        font-weight: normal;
    }
    
}
